{% extends 'blog/base.html' %}
{% block content %}
{% load crispy_forms_tags %}

        <article class="media content-section">
            <img class="rounded-cirlce article-img" src="{{ object.author.profile.image.url }}" alt="">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="#">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted }}</small> <br>
              </div>
              <h2><a class="article-title" href="#">{{ object.title }}</a></h2>
              <p class="article-content">{{ object.content }}</p>
            </div>
            <br>
            {% if object.author == user %}
            <div>
              <a class="btn btn-outline-success" href="{% url 'blog-update' object.id %}">
                  <i class="fas fa-pencil-alt"></i> 
              </a>
              <a class="btn btn-outline-danger" href="{% url 'blog-delete' object.id %}">
                  <i class="fas fa-trash-alt"></i>
              </a>
            </div>
            {% endif %}
          </article>
{% endblock content %}
